<%= link_to '', class: 'list-group-item list-group-item-action px-4' do %>
<div class="row align-items-center">
  <div class='col-1'>
    <%= image_tag tweet.user.avatar_url, size: '40', class: 'rounded-circle mr-2' if tweet.user.avatar_url %>
  </div>
  <div class='col-10'>
    <p class='mb-0'><strong><%= tweet.user.username %></strong></p>
  </div>
  <div class='col-1'>
    <%= content_tag :object do %>
    <%= link_to image_tag('icons/delete', size: '15'), tweet_path(tweet), method: :delete, data: {confirm: 'Are you sure'} %>
    <% end if tweet.user == current_user %>
  </div>
</div>

<div class='row align-items-center'>
  <div class='col-11 offset-1'>
    <p><%= tweet.body %></p>
  </div>
</div>

<div class='row align-items-center'>
  <div class='col-12'>
    <small>
      <% tweet.tags.each do |tag| %>
      <object class='mr-2'><%= link_to tag.body, tweets_by_tag_path(tag) %></object>
      <% end %>
    </small>
  </div>
</div>
<% end %>
