<% content_for :profile do %>
<%= render partial: 'profile', locals: {user: @user} %>
<% end %>

<% content_for :content do %>

<div class='row'>
  <div class='col-12 text-right '>
    <% if @user == current_user %>
    <div class='new-tweet-form'>
      <%= simple_form_for Tweet.new, url: tweets_path, method: :post, remote: true do |f| %>
      <%= f.input_field :body, label: false, placeholder: "What's happening?", class: 'form-control border-primary' %>
      <p>Word count <%= f.button :submit, "Tweet", class: 'btn-primary btn-sm' %></p>
      <% end %>
    </div>
    <% end %>
  </div>
</div>


<ul class="tweets list-group">
  <% @tweets.each do |tweet| %>
  <%= render partial: 'tweets/tweet', locals: {tweet: tweet} %>
  <% end %>
</ul>

<% end %>
