<div class='container-fluid'>

  <nav class="navbar fixed-top navbar-light bg-light">
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  </nav>

  <div class='row'>

    <div class='col-3'>
      <div style="height: 200px; background-color: lightblue;">
        <h2>For user profile</h2>
      </div>
      <div style="height: 400px; background-color: orange;">
        <h2>For trends</h2>
      </div>
    </div>

    <div class='col-6'>

      <div class='new-tweet-form'>
        <%= simple_form_for Tweet.new, url: tweets_path, method: :post, remote: true do |f| %>
        <%= f.input_field :body, label: false, placeholder: "What's happening?", class: 'form-control' %>
        <%= f.button :submit, "Tweet" %>
        <% end %>
      </div>

      <ul class="tweets list-group">
        <% current_user.tweets.order('created_at desc').each do |tweet| %>
        <%= render partial: 'tweets/tweet', locals: {tweet: tweet} %>
        <% end %>
      </ul>

    </div>

    <div class='col-3'>
      <div style="height: 500px; background-color: lightgreen;">
        <h2>For listing other users</h2>
      </div>
    </div>

  </div>

</div>
