<% content_for :post_login do %>

<nav class="navbar fixed-top navbar-light bg-light">
  <%= link_to 'Home', root_path %>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
</nav>

<div class='container-fluid pages'>

  <%= render 'shared/flash' %>

  <div class='row'>

    <div class='left-panel col-3 text-center'>

      <%= yield(:profile) %>

      <div class='trending card'>
        <%= render 'trending' %>
      </div>

    </div>

    <div class='content col-6'>
      <%= yield(:content) %>
    </div>

    <div class='right-panel col-3'>

      <div class='who-to-follow card'>
        <h4 class='card-header text-center'>Who to follow</h4>
        <div class="list-group list-group-flush">
          <% current_user.not_following.each do |user| %>
          <%= render partial: 'user', locals: {user: user} %>
          <% end %>
        </div>
      </div>

    </div>

  </div>

</div>

<% end %>
<%= render template: 'layouts/application' %>
