<% content_for :post_login do %>

<nav class="navbar fixed-top navbar-light bg-white">
  <%= link_to image_tag('icons/home', size: '25'), root_path %>
  <%= link_to image_tag('icons/logout', size: '25'), destroy_user_session_path, method: :delete %>
</nav>

<div class='container-fluid pages'>

  <%= render 'shared/flash' %>

  <div class='row'>

    <div class='left-panel col-3 text-center'>

      <%= yield(:profile) %>

      <%= render 'trending' %>

    </div>

    <div class='content col-6'>
      <%= yield(:content) %>
    </div>

    <div class='right-panel col-3'>

      <div class='who-to-follow card bg-primary text-white'>
        <h4 class='card-header text-center'><strong>Who to follow</strong></h4>
        <div class="list-group list-group-flush">
          <% current_user.not_following.each do |user| %>
          <%= render partial: 'user', locals: {user: user} %>
          <% end %>
        </div>
      </div>

    </div>

  </div>

</div>

<% end %>
<%= render template: 'layouts/application' %>
